<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LocalDBInstanceForDebugging" connectionString="Data Source=(localdb)\Projects;Initial Catalog=WAMS.DB;Integrated Security=True;Pooling=False;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="WAMS.MediaLib.Properties.Settings.LocalDBInstanceForDebugging"
            connectionString="Data Source=(localdb)\Projects;Initial Catalog=WAMS.DB;Integrated Security=True;Pooling=False;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="WAMS.MediaLib.Properties.Settings.aspnet_WAMSDemo_20121212004536ConnectionString"
            connectionString="Data Source=(localdb)\v11.0;Initial Catalog=aspnet-WAMSDemo-20121212004536;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WAMS.MediaLib.Properties.Settings.WAMS_DBConnectionString"
            connectionString="Data Source=(LocalDb)\V11.0;Initial Catalog=WAMS.DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>