
<table id="mediaLibrary" class="dataTable">
      <thead>
             <tr>
                 <th>Watch</th>
                 <th>Title</th>
                 <th>Encoding Preset</th>
                 <th>Protection</th>
                 <th>Job Progress</th>
                 <th>Started</th>
                 <th>Completed</th>
                 <th>Expired</th>
             </tr>
      </thead>
      <tbody> 
      </tbody>
</table> 



